
.search-skills {
    width: 30%;
    float: right;
}

.search-button {
    color:white;
}

.skills-box {
    padding: 40px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
    margin: 0px 90px;
    
  }
  

.col-sm-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


.progress-bar {
    position: relative;
    margin-bottom: 40px;
}


.animate-up.animated {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
    transform: translate(0px, 0px);
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}


.progress-bar .bar-data {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    background-color: white;
}

.progress-bar .bar-title {
    display: block;
    margin-bottom: 5px;
    color: blue;
    font-weight: bold;
    
}


.progress-bar .bar-line {
    height: 5px;
    position: relative;
}


.progress-bar .bar-line::after {
    content: "";
    opacity: 0.2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 5px;

    background-color: rgb(232, 103, 107);
}


.progress-bar .bar-fill {
    width: 0px;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    transition: width 400ms ease-out 100ms;

    background-color: rgb(232, 103, 107);
}


ul {
    list-style-type: none;
  }